<%!
from django.utils.translation import ugettext as _
from openedx.core.djangolib.markup import Text

%>
<h1><%block name="pageheader">${_("Error: Access not allowed")}</%block></h1>
<p style="text-align: center;">
    <%block name="pagecontent">
        ${Text(_('This course can only be accessed with "Safe Exam Browser"'))}
    </%block>
</p>
<p style="text-align: center;">
    % if is_new_ban:
        ${Text(_('Additionally you have been banned, you may ask your teacher or systems administrator to unblock you.'))}
    % elif banned:
        ${Text(_('You are banned from accessing the course, you may ask your teacher or systems administrator to unblock you.'))}
    % endif
</p>
